:root {
     --primaryColor: #3d8af7;
     --greyColor: #ebebeb;
 }


.contenedor-header-lugares {
     width: 1200px;
     max-width: 1200px;
     height: auto;
     margin: 0 auto;
     margin-top: 50px;
}

#probandoId {
     color: red;
}

.contenedor-header {
     box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.22);
     display: flex;
     height: 500px;
     background-color: #fff;
     border: 2px solid var(--greyColor);
}

.contenedor-izquierda {
     background-image: url('../assets/descarga2.png');
     height: auto;
     width: 600px;
}

.contenedor-derecha {
     width: 600px;
}