:root {
    --primaryColor: #3d8af7;
    --greyColor: #b3b3b3;
  }

.container-profile {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.container-profile h1 {
    color: var(--primaryColor);
}

.container-profile-inside {
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.22);
    background-color: #fff;
    padding: 50px;
    border: 1px solid var(--greyColor);
    border-radius: 5px;
}